
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact Us</title>
</head>
<body>
    @Html.Partial("../Partials/HeaderPartial")
    <p>About</p>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/javaScript")
    <div>
    </div>
</body>
</html>
